body {
  margin: 0px;
  padding-top: 70px;
  width: 100%;
  height: 1500px;
}

#cabeza {
  background-color: white;
  padding: 10px 0px;
  align-items: center;
}

#contenedorGeneral {
  height: 100%;
}

#registro {
  background-image: url("../img/taxi.jpg");
  background-size: 100%;
  padding: 5% 0px;
}
#bloqueRegistro{
  background-color: #f7b617;
  padding: 30px 50px;
  color:white;
}
#descarga{
  background-color: #f7b617;
  padding: 30px 0px;
  color:white;
}

#descargaBloque{
  border:white solid 1px;
  padding: 30px 50px;

}
#conduce{
  background-image: url("../img/conduce.jpg");
  background-size:100%;
  color:white;
}
#bloqueConduce{
  background-color: rgba(0,0,0,0.65);
  padding:  120px 50px;
}
#botonConduce{
  background-color: #f7b617;
  color:white;
}
#mapa{
  background-color: #f7b617;
  padding: 30px 0px;
  color:white;
}

#mapaBloque{
  border:white solid 1px;
  padding: 30px 50px;

}
#tarifas{
  margin-top: 80px;
}
#tarifas>h4{
  margin: 30px 0px;
}

.tarifasIcon{
  background-color: #f7b617;
  color:white;
  border:none;
}
.tarifasInput{
  background-color: #f7b617;
  color:white;
  border:solid 1px white;
  border-radius: 5px;
}
#partida{
  margin-bottom: 40px;
}
#botonRuta{
  margin:50px auto;
}
